# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Project specific files
*.html  text
*.xhtml text
*.xul   text
*.dtd   text
*.jsm   text
*.js    text
*.css   text
*.rdf   text
*.def   text
*.txt   text
*.c     text
*.cc    text
*.cpp   text
*.h     text
*.hpp   text
*.cs    text
*.bat   text
*.properties text
*.manifest text

*.jpg   binary
*.png   binary
*.gif   binary
*.exe   binary
*.dll   binary
*.xpi   binary
