/*
This file is part of Fire-IE.

Fire-IE is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Fire-IE is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Fire-IE.  If not, see <http://www.gnu.org/licenses/>.
*/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#fireieAbout {
  padding: 0px;
  min-height: 200px;
  max-height: 600px;
  width: 50em;
}

@media (-moz-windows-compositor) {
  #fireieAbout {
    -moz-appearance: -moz-win-glass;
    background: transparent;
  }
}

.text-link {
  border: none;
  margin: 0;
  padding: 0;
}

#links html|ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links html|ul html|li {
  margin: 0 18px;
}
