@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Force priority over chrome default CSS */
#fireie-urlbar-switch[fx-icon-url][ie-icon-url], #fireie-urlbar-switch-image, #fireie-toolbar-palette-button {
  list-style-image: url("chrome://fireie/skin/engine-fx.png");
}

#fireie-urlbar-switch {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: -1px;
  margin-bottom: -1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#fireie-urlbar-switch[disabled="true"] #fireie-urlbar-switch-image {
  opacity: 0.4;
}

#fireie-urlbar-switch[disabled="true"] #fireie-urlbar-switch-label {
  text-decoration: line-through;
}

#fireie-urlbar-switch-tooltip1-disabled {
  display: none;
}

#fireie-urlbar-switch-tooltip.btndisabled #fireie-urlbar-switch-tooltip1 {
  display: none;
}

#fireie-urlbar-switch-tooltip.btndisabled #fireie-urlbar-switch-tooltip1-disabled {
  display: inline;
}

/* treechildren checkbox */

treechildren::-moz-tree-checkbox {
  list-style-image: url("data:image/gif;base64,R0lGODlhEAAOALMAAAAAAISChMTCxPz%2B%2FAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAQAA4AAwQXEMhJq704681zCF0wfFwgkCXYrWzrbhEAOw%3D%3D") !important;
}
treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAABGUlEQVR42mNkoBAwjhqA3YDcbR7snH%2Ble7n5uKNevX%2FDeOvSg00P3r9uvN1%2F%2ByVQ%2BitBA0q3JE31s3bO%2BsLyneHm24cMl27dYDi9%2BuKuy7NvlQCl7yEbgtWApkO5H0wN9fnf%2FfrEcO%2F1E4Zbz%2B4zXNx34%2BelluvZQOkdQPwUrwE5G2M%2Bqegr8n7%2B8ZXh%2BbtXDPdfPWW4vu%2F27weTnvQApZcB8RW8Brg2WS6VtZCJ%2Bs3yh%2BHNpw8MDx8%2BZbiz5P7jX6d%2FLyHKAIVEBWU%2BdvYZjKKMdh8%2FfWZ8dvzVi1%2FXfx9k%2BMywDyi9i6AXgIALiBWB2AyIlaFid4D4FBDfB%2BLvhAwAAU4gFgRiASj%2FAxC%2FA%2BIfBKORFDDwBgAAWtdxEQkZYoQAAAAASUVORK5CYII%3D") !important;
}
