@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.descr {
  width: 300px;
}

image.icon-and-text {
  -moz-image-region: rect(0px, 150px, 24px, 0px);
}

image.icon-only {
  list-style-image: url("chrome://fireie/skin/url-button-styles.png");
  -moz-image-region: rect(48px, 150px, 72px, 0px);
}

image.icon-hidden {
  list-style-image: url("chrome://fireie/skin/url-button-styles.png");
  -moz-image-region: rect(96px, 150px, 120px, 0px);
}

html|input {
  font-family: inherit;
  font-size: inherit;
}

.indent {
  margin-right: 20px;
}
